.contactsBlock {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}



.form {
    min-width: 50%;
    height: 100px;
    background-color: aqua;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .form {
        min-width: 100%;
    }
}