.skillsBlock {
  background-color: #111;
  min-height: 84vh;
  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    @media screen and (max-width: 938px) {
      justify-content: center;
    }
    .skills {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      @media screen and (max-width: 938px) {
        justify-content: center;
      }
    }
  }
}
