.skillsBlock {
    min-height: 100vh;
    background-color: #111;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: burlywood;
}

.skills {
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 938px) {
    .skills {
        justify-content: center;
    }
}

@media screen and (max-width: 938px) {
    .skills {
        justify-content: center;
    }
}
