.mainBlock {
    min-height: 100vh;
    background-color: #111;
    color: #fff;
    .mainBlockContainer{
        display: flex;
        justify-content: space-around;
        .text {
            width: 300px;
            h1 {
                font-size: 39px;
                font-weight: 700;
                letter-spacing: 1px;
                margin-bottom: 34px;
                font-family: Poppins,sans-serif;
            }
            p {
                font-size: 26px;
                letter-spacing: .3px;
                font-family: Poppins,sans-serif;
            }
        }
        .photo {
            width: 300px;
            height: 400px;
            background-color: aliceblue;
        }
    }

}


