@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';


.mainBlock {
    min-height: 43vh;
    color: #fff;
    background-color: #111111f5;
    padding-bottom: 30px;
    position: relative;
    .particles {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .mainBlockContainer{
        display: flex;
        justify-content: space-around;
        .text {
            width: 300px;
            h1 {
                @include text-settings($fontFamily,39px,700,normal);
                letter-spacing: 1px;
                margin-bottom: 34px;
                z-index: 1;
            }
            p {
                font-size: 26px;
                letter-spacing: .3px;
                font-family: Poppins,sans-serif;
                z-index: 1;
            }
        }
        .photo {
            width: 300px;
            height: 400px;
            background-color: aliceblue;
            z-index: 1;
        }
    }

}


