@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.project {
  width: 500px;
  padding: 0px 15px;
  margin-bottom: 30px;

  .projectLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);

    &::before {
      position: absolute;
      content: '';
      background-color: $bgColor;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }

    button {
      background-color: #009e66;
      padding: 10px 26px;
      border-radius: 30px;
      font-weight: 400;
      border: 1px solid #009e66;
      position: relative;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .projectTitle {
      @include text-settings($fontFamily, 20px, 600, 1.5);
      letter-spacing: .1px;
      margin-bottom: 6px;
      color: $textColor;
    }

    .description {
      @include text-settings($fontFamily, 14px, 400, 1.7);
      text-align: left;
      margin: 0px;
      color: #9f9f9f;
    }
  }
}






