@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';
.nav {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    flex-wrap: wrap;
    .navItem {
        @include text-settings($fontFamily,14px,400,1.95);
        color: #9f9f9f;
        list-style: none;
        margin: 0px 20px;
        a {
            color: #e6e6e6;
            font-size: 15px;
            text-decoration: none;
        }
    }
}
