.nav {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    flex-wrap: wrap;
    .navItem {
        font-family: Poppins,sans-serif;
        font-weight: 400;
        line-height: 1.95;
        list-style: none;
        a {
            text-decoration: none;
            color: #e6e6e6;
            font-size: 15px;
            padding: 0;
            margin: 10px;

        }
    }
}
